/* CSS declarations go here */
h1,
button{
  font-family: 'Spicy Rice', cursive;
}

h1{
  color: #004c4d;
  font-style: italic;
}

.btn{
  background-color: #1affc6;
  color: #004c4d;
  border-radius: 4px;
  border: none;
}