/* CSS declarations go here */

/* VARIABLES */

/* MEDIA QUERY RANGES
$medium: "only screen and (min-width:600px)";
$large: "only screen and (min-width:900px)"; */

/* STYLES */

html,
body{
  height: 1%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.item{
  flex: 0 0 60%;
}


h1{
  color: #004466;
  font-style: italic;
  text-align: center;
  font-family: 'Spicy Rice', cursive;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=text]{
  flex: 0 0 100%;
  margin: 5px;
  min-height: 30px;
  font-family: Montserrat;
}

#submit{
  flex: 0 0 100%;
}

button{
  background-color: #1affc6;
  color: #004c4d;
  border-radius: 4px;
  border: 0px;
  margin: 5px;
  min-height: 40px;
  font-size: x-large;
  font-family: 'Spicy Rice', cursive;
}

.btn:hover{
  border: 1px solid;
}

.btn:active{
  color: #1affc6;
  background-color: #004c4d;
  border: 2px solid;
  outline: none;
}

.btn:focus{
  outline:none;
}

p.item{
  font-family: Montserrat;
  padding: 5px;
  margin: 5px;
/*  background-color: #99ffcc;*/
  flex: 0 0 55%;
}
